.card {
  display: flex;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  border-bottom: 1px solid grey;
  padding: 1rem 0;
}

.card img {
  max-width: 100px;
  object-fit: contain;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.removeBtn {
  width: fit-content;
  border: none;
  background-color: transparent;
  color: #006ed7;
  cursor: pointer;
}

@media (min-width: 500px) {
  .card img {
    max-width: 150px;
  }
}
