* {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
}

input,
button {
  font: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex-grow: 1;
  max-width: 1200px;
  margin: 0 auto;
}
